<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.dfuutility.privileged-helper</string>
    <key>BundleProgram</key>
    <string>Contents/Library/LaunchServices/DFUPrivilegedHelper</string>
    <key>MachServices</key>
    <dict>
        <key>org.dfuutility.privileged-helper</key>
        <true/>
    </dict>
    <key>AssociatedBundleIdentifiers</key>
    <array><string>org.dfuutility.app</string></array>
</dict>
</plist>
